body
{
    background-image: url("F:/html/HTMLCSS/Magic-Cake/images/stardust.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0em;
}
#i1 img
{
    padding-left: 50px;
    padding-top: 5px;
}
#i2 a
{
    color: white;
    text-decoration: none;
    font-size:15px;
    padding-left: 4px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    text-align: center;
    background-color: rgb(205,116,116);
    padding-bottom: 0.5%;
}
section
{
    background-image:url("F:/html/HTMLCSS/Magic-Cake/images/crossword.png");
    margin-left:300px;
    margin-right:300px;
    margin-bottom:30px;
    height:530px;
    margin-top: 50px;
}
#s1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #609f9f;
    padding-top: 15px;
}
#c1
{
    border:1px solid #80664d;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    margin-bottom: 10px;

}
#c1 img{
    margin-right:20px;
}
div h4
{
    font-family: Arial, Helvetica, sans-serif;
    color: #609f9f;
}
div p
{
    font-family: Arial, Helvetica, sans-serif;
}
#c2
{
    border:1px solid #80664d;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    margin-bottom: 10px;
}
#c2 img{
    margin-right:20px;
}

#c3
{
    border:1px solid #80664d;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    margin-bottom: 10px;
}
#c3 img{
    margin-right:20px;
}

#magic{
    text-decoration: none;
    color:#609f9f;
}

#c4
{
    border:1px solid #80664d;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    margin-bottom: 5px;
}
#c4 img{
    margin-right:20px;
}
.c1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    font-size:12px;
}
